---
layout: demo
title: CSS
---

<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= current_page.data.base_url %>" class="navbar-brand">CRANBERRYCHIC</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <nav class="collapse navbar-collapse bs-navbar-collapse pull-right" role="navigation">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page.data.slug == "css" %>">
          <a href="<%= current_page.data.base_url %>css">CSS</a>
        </li>
        <li class="<%= 'active' if current_page.data.slug == "components" %>">
          <a href="<%= current_page.data.base_url %>components">Components</a>
        </li>
        <li class="<%= 'active' if current_page.data.slug == "js" %>">
          <a href="<%= current_page.data.base_url %>javascript">JavaScript</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
